* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main .clock {
  background-color: black;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 4px;
  position: relative;
}
main .clock .numbers {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .clock .numbers .number {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  height: 100%;
}
main .clock .numbers .one {
  transform: rotate(30deg);
}
main .clock .numbers .one span {
  transform: rotate(-30deg);
  position: absolute;
}
main .clock .numbers .two {
  transform: rotate(60deg);
}
main .clock .numbers .two span {
  transform: rotate(-60deg);
  position: absolute;
}
main .clock .numbers .three {
  transform: rotate(90deg);
}
main .clock .numbers .three span {
  transform: rotate(-90deg);
  position: absolute;
}
main .clock .numbers .four {
  transform: rotate(120deg);
}
main .clock .numbers .four span {
  transform: rotate(-120deg);
  position: absolute;
}
main .clock .numbers .five {
  transform: rotate(150deg);
}
main .clock .numbers .five span {
  transform: rotate(-150deg);
  position: absolute;
}
main .clock .numbers .six {
  transform: rotate(180deg);
}
main .clock .numbers .six span {
  transform: rotate(-180deg);
  position: absolute;
}
main .clock .numbers .seven {
  transform: rotate(210deg);
}
main .clock .numbers .seven span {
  transform: rotate(-210deg);
  position: absolute;
}
main .clock .numbers .eight {
  transform: rotate(240deg);
}
main .clock .numbers .eight span {
  transform: rotate(-240deg);
  position: absolute;
}
main .clock .numbers .nine {
  transform: rotate(270deg);
}
main .clock .numbers .nine span {
  transform: rotate(-270deg);
  position: absolute;
}
main .clock .numbers .ten {
  transform: rotate(300deg);
}
main .clock .numbers .ten span {
  transform: rotate(-300deg);
  position: absolute;
}
main .clock .numbers .eleven {
  transform: rotate(330deg);
}
main .clock .numbers .eleven span {
  transform: rotate(-330deg);
  position: absolute;
}
main .clock .numbers .twelve {
  transform: rotate(360deg);
}
main .clock .numbers .twelve span {
  transform: rotate(-360deg);
  position: absolute;
}
main .clock .hands {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}
main .clock .hands .second {
  height: 30%;
  border-radius: 1em;
  position: absolute;
  transform: translatey(-50%);
  width: 5px;
  background-color: aqua;
}
main .clock .hands .min {
  height: 40%;
  border-radius: 1em;
  position: absolute;
  transform: translatey(-50%);
  width: 7px;
  background-color: cadetblue;
}
main .clock .hands .hour {
  height: 30%;
  border-radius: 1em;
  position: absolute;
  transform: translatey(-50%);
  width: 6px;
  background-color: white;
}
main .handcover {
  height: 30px;
  width: 30px;
  background-color: teal;
  border-radius: 50%;
  top: 46%;
  left: 46%;
  position: absolute;
}
main .digi-clock {
  gap: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100px;
  position: absolute;
  top: 55%;
}
main .digi-clock .seconds {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
}
main .digi-clock .mins {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  color: black;
  border-radius: 50%;
  background-color: white;
}
main .digi-clock .hours {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: teal;
}
main button {
  position: absolute;
  padding: 1em 4em;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1em;
  border-radius: 2em;
  border: none;
  top: 85%;
}
main button:active {
  scale: 0.9;
}/*# sourceMappingURL=style.css.map */